<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="organization" value="anticipa-pre"></add>
    <add key="username" value="usrETL@anticipa.onmicrosoft.com"></add>
    <add key="password" value="QKGmLoc27T9-"></add>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="TestWCF1.Service" behaviorConfiguration="RestServiceBehavior">
        <endpoint address="" contract="TestWCF1.IService" binding="webHttpBinding" behaviorConfiguration="restConfiguration" bindingConfiguration="TransportSecurity"/>
        <!--
        <endpoint address="" contract="WcfService1.IService1" binding="webHttpBinding" behaviorConfiguration="restConfiguration" />
        <endpoint address="" contract="WcfService1.IService1" binding="basicHttpBinding" /> 
      -->
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="TransportSecurity">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restConfiguration">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="RestServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>